body {
    padding-top: 0px;
    padding-bottom: 20px;
    background-image: url('../images/pexels-constantin-dorin-adrian-3611882.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size:auto;
}

.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

input,
select,
textarea {
    max-width: 280px;
}
.tbl {
    
    
    width:100%;
}
.dt {
    padding-left: 900px;
    padding-top: 30px;
}
.hd{
    background-color:white;
}
.msg{
    color:green;
}
.form-gap {
    margin-top:4%;
}
.modal-title{
    text-align:center;
}
.modal-dialog {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.modal-dialog-centered{
    margin-top:10%;
    display:flex;
    justify-content:center;
}
.modal-content{
    width:80%;
}
.centre-heading {
    text-align:center;
    color: whitesmoke;
    font-weight: bold;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
.scroll::-webkit-scrollbar{
    display:none;
}
.scroll{
    -ms-overflow-style:none;
    overflow:auto;
}
.footer {
    border-top: solid;
    border-color: lightgreen;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
}
.dataTables_length {
    margin-top: 11px;
    margin-left: 10px;
    font-size: 15px;
    font-family: Calibri;
}
.dataTables_length:hover, .dataTables_length:active {
   color:darkslategrey !important;
}
.dataTables_info{
    margin-top:1px;
    /*position:fixed;*/
}
.btn-position{
    margin-bottom:15px;
    margin-left:1px;
}
.btn-secondary{
    background-color:gray;
    color:white;
}
.btn-secondary:hover {
    background-color:dimgray;
    color: white;
}
.dataTables_filter {
    margin-top: -40px;
}
.navbar {
    background-color: black;
    border-bottom: solid;
    border-color: lightgreen;
}
.toast-message{
    color:white;
    font-weight:bold;
}
#toast-container{
    margin-bottom:20px !important;
}
.toast-success{
    width:180px !important;
}
.toast-error {
    width: 110px !important;
}
.view{
    font-size:20px;
}
.glyphicon-zoom-in:hover, .glyphicon-zoom-in:active {
    color: midnightblue;
    transform: scale(1.3);
}
.edit {
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
    color: orange;
}
.glyphicon-edit:hover, .glyphicon-edit:active {
    color: orangered;
    transform:scale(1.3);
}
.delete {
    font-size: 20px;
    color: red;
}
.glyphicon-trash:hover, .glyphicon-trash:active {
    color: darkred;
    transform: scale(1.3);
}


/*.iframe-size {
    width: -webkit-fill-available;
}*/

.dataTables_scrollBody {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    transform:scale(1.001);
    margin-left:0.133mm;
    border-top:solid;
    border-top-color:transparent;
}
.dataTables_scrollBody::-webkit-scrollbar {
    width: 6px;
}

.dataTables_scrollBody::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 5px;
}
.btn:hover, .btn:active {
    transform: scale(1.1);
}
.dt-buttons
{
    display:none;
}
.dropdown-toggle {
    height:34px !important;
}
#btnPrint{
    margin-bottom:14px;
}
.drop {
    margin-top: -13px;
}
#close
{
    margin-bottom:50px;
}

.glyphicon-plus-sign {
    color: green;
}

.glyphicon-minus-sign {
    color: red;
}