@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management System</title>

    @Styles.Render("~/Content/MyCSS")

    @Scripts.Render("~/Scripts/MyScript")

</head>
<body class="scroll">
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <h2 class="centre-heading">Hospital Management System</h2>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="footer ">
        <div >&copy; @DateTime.Now.Year - Hospital Management System</div>
    </footer>
    
</body>
</html>