@model Hospital_Management_System.Models.Patient
<form>
    <fieldset>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id, new { @id = "deleteid" })
                <h4>Are you sure you want to delete @ViewData["Name"].ToString()'s record?</h4>
            </div>
        }
    </fieldset>
</form>
