@using HospitalManagementLibrary.Constants
<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document" id="mainform">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100"><b id="ModalTitle"></b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3" id="mbody">
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-warning" id="editRecord">Edit</button>
                <button type="submit" class="btn btn-success" id="saveRecord"></button>
                <a class="btn btn-primary" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document" id="deleteform">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold" id="ModalTitle"><b>@Titles.DeleteTitle</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3" id="deletebody">
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-danger" onclick="confirmDelete($('#deleteid').val())">Confirm</button>
                <a class="btn btn-primary" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>
<div class="overflow:auto tbl">
    <button type="button" id="create" class="btn btn-success btn-rounded mb-4" onClick="operation('Add',0)">Add Patient</button>
</div>
<div class="overflow:auto tbl">
    <table id="PatientTable" class="display table-bordered" style="width:100%">
        <thead class="hd">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Date</th>
                <th>In-Patient</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#PatientTable').DataTable(
            {
                "ordering": false,
                "serverSide": true,
                "filter": true,
                "bInfo": false,
                columnDefs: [
                    {
                        "targets": [0],
                        "searchable": false
                    },
                    {
                        "targets": [2, 3, 4, 5, 6],
                        className: 'dt-head-center dt-body-center'
                    }
                ],
                "ajax": {
                    "url": "/Patient/PatientData",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "Id",
                        "render": function (id) {
                            return ('HM' + id + 'S');
                        }
                    },
                    {
                        "data": "Name",
                        "width": "20%"
                    },
                    {
                        "data": "Age",
                        "width": "5%"
                    },
                    {
                        "data": "Gender",
                        "width": "10%"
                    },
                    {
                        "data": "Date",
                        "type": "DateTime",
                        "width": "20%",
                        "render": function (value) {
                            if (value === null) return "";
                            var pattern = /Date\(([^)]+)\)/;
                            var results = pattern.exec(value);
                            var dt = new Date(parseFloat(results[1]));
                            return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
                        }
                    },
                    {
                        "data": "InPatient",
                        "width": "10%",
                        "type": "bool",
                        "render": function (value) {
                            if (value === true) return "Yes";
                            else return "No";
                        }
                    },
                    {
                        "data": "Id",
                        "width": "20%",
                        "render": function (id) {
                            return ('<div class="col-md-4"><a class="btn btn-primary btn-rounded mb-4" onclick="operation(`View`,' + id + ')">View</a> </div><div> <a class="btn btn-danger btn-rounded mb-4" onclick="deleteData(' + id + ')">Delete </a></div> ');
                        }
                    },
                ]
            });
    }); 
    function operation(op, id) {
        var url = "/Patient/Get?operation=" + op + "&id=" + id;
        $("#modalForm").modal('show');
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                $('#mbody').html(data);
            }
        })
    }
    function deleteData(id) {
        var url = "/Patient/Get?operation=Delete&id=" + id;
        $("#deleteConfirm").modal('show');
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                $('#deletebody').html(data);
            }
        })
    }
    function confirmDelete(id) {
        $.ajax({
            type: "POST",
            url: "/Patient/Delete/" + id,
            success: function () {
                $('#PatientTable').DataTable().ajax.reload();
                $("#deleteConfirm").modal("hide");
            }
        });
    }
    $("#saveRecord").click(function () {
        
        var myFormData = $("#SubmitForm").serialize();
        $.ajax({
            type: "POST",
            url: "/Patient/Update",
            data: myFormData,
            success: function () {
                $("#modalForm").modal("hide");
                $('#PatientTable').DataTable().ajax.reload();
            },
            error: function (error) {
                validation();
            }
        });
        return false;
    })
    function validation() {
        var letters = /^[A-za-z]+$/;
        var dateFormat = /^(?<!\d)(\d{2}|\d{4})(?!\d)[\/-](0?[1-9]|1[0-2])[\/-](0?[1-9]|[1-2][0-9]|3[01])/;
        if (!$("#name").val().match(letters)) {
            $("#namevalidation").html("Give proper name");
        }
        else if ($("#name").val().length >= 31) {
            $("#namevalidation").html("Cannot contain more than 30 characters");
        }
        else {
            $("#namevalidation").html("");
        }
        if ($("#age").val() == "" || $("#age").val() < 0) {
            $("#agevalidation").html("Give proper age");
        }
        else if ($("#age").val() >= 121) {
            $("#agevalidation").html("Cannot exceed 120");
        }
        else {
            $("#agevalidation").html("");
        }
        if ($("#gender").val() == "Select") {
            $("#gendervalidation").html("Select gender");
        }
        else {
            $("#gendervalidation").html("");
        }
        if (!$("#date").val().match(dateFormat)) {
            $("#datevalidation").html("Enter proper date");
        }
        else {
            $("#datevalidation").html("");
        }
    }
</script>
