@Html.Partial("_Update")
@Html.Partial("_Delete")
<div class="overflow:auto tbl">
    <button type="button" id="create" class="btn btn-success btn-rounded mb-4" onClick="addPatient(0)">Add new patient</button>
</div>

<div class="overflow:auto tbl">
    <table id="PatientTable" class="display table-bordered">
        <thead class="hd">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Date</th>
                <th>In-Patient</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>

<script>

    $(document).ready(function () {

        $('#PatientTable').DataTable(

            {
                "ordering": false,
                "serverSide": true,
                "filter": true,
                "bInfo": false,

                columnDefs: [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }
                ],
                "ajax": {

                    "url": "/Patient/PatientData",

                    "type": "POST",

                    "datatype": "json"

                },
                "columns": [
                    { "data": "Id" },
                    {
                        "data": "Name",
                        "width": "20%"
                    },
                    {
                        "data": "Age",
                        "width": "5%"
                    },
                    {
                        "data": "Gender",
                        "width": "10%"
                    },
                    {
                        "data": "dateTime",
                        "type": "DateTime",
                        "width": "20%",
                        "render": function (value) {
                            if (value === null) return "";

                            var pattern = /Date\(([^)]+)\)/;
                            var results = pattern.exec(value);
                            var dt = new Date(parseFloat(results[1]));

                            return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
                        }
                    },
                    {
                        "data": "InPatient",
                        "width": "15%",
                        "type": "bool",
                        "render": function (value) {
                            if (value === true) return "Yes";
                            else return "No";
                        }
                    },

                    {
                        "data": "Id",
                        "width": "20%",
                        "render": function (id) {
                            return ('<div class="col-md-4"><a class="btn btn-primary btn-rounded mb-4" onclick="viewPatient(' + id + ')">View</a> </div><div class="col-md-3"> <a class="btn btn-danger btn-rounded mb-4" onclick="deletePatient(' + id + ')">Delete </a></div> ');
                        }
                    },
                ]

            });
    });

    function addPatient(id) {
        $("#RegForm")[0].reset();
        $("#ModalTitle").html("Add Patient Details");
        $("#saveRecord").html("Add");
        $("#modalForm").modal();
        enable();
        document.getElementById("editRecord").disabled = true;

    }
    function editPatient(id) {
        var url = "/Patient/Get/" + id;
        $("#ModalTitle").html("Edit Patient Details");
        $("#saveRecord").html("Save");
        document.getElementById("editRecord").disabled = true;
        $("#modalForm").modal();
        enable();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#id").val(obj.Id);
                $("#name").val(obj.Name);
                $("#age").val(obj.Age);
                $("#gender").val(obj.Gender);
                $("#date").prop('value', obj.dateTime.getDate() + "-" + obj.dateTime.getMonth() + 1 + "-" + obj.dateTime.getFullYear());
                $("#inpatient").prop('checked', obj.InPatient);

            }
        })


    }
    function viewPatient(id) {
        var url = "/Patient/Get/" + id;
        $("#ModalTitle").html("View Patient Details");
        $("#saveRecord").html("Save");
        document.getElementById("editRecord").disabled = false;
        $("#modalForm").modal();
        disable();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#id").val(obj.Id);
                $("#name").val(obj.Name);
                $("#age").val(obj.Age);
                $("#gender").val(obj.Gender);
                $("#date").prop('value', obj.dateTime.getDate() + "-" + obj.dateTime.getMonth() + 1 + "-" + obj.dateTime.getFullYear());
                $("#inpatient").prop('checked', obj.InPatient);

            }
        })
    }
    function deletePatient(id) {
        var url = "/Patient/Get/" + id;
        $("#deleteConfirm").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#id").val(obj.Id);
                $("#patientName").html(obj.Name);
            }
        })
    }
    function confirmDelete(id) {
        $.ajax({
            type: "POST",
            url: "/Patient/Delete/" + id,

            success: function () {
                $('#PatientTable').DataTable().ajax.reload();
                $("#deleteConfirm").modal("hide");
            }
        });

    }

    function disable() {
        document.getElementById("name").disabled = true;
        document.getElementById("age").disabled = true;
        document.getElementById("gender").disabled = true;
        document.getElementById("date").disabled = true;
        document.getElementById("inpatient").disabled = true;
        document.getElementById("saveRecord").disabled = true;
    }
    function enable() {
        document.getElementById("name").disabled = false;
        document.getElementById("age").disabled = false;
        document.getElementById("gender").disabled = false;
        document.getElementById("date").disabled = false;
        document.getElementById("inpatient").disabled = false;
        document.getElementById("saveRecord").disabled = false;
    }

    $("#saveRecord").click(function () {

        var myFormData = $("#SubmitForm").serialize();
        $.ajax({
            type: "POST",
            url: "/Patient/Update",
            data: myFormData,
            success: function () {
                $('#PatientTable').DataTable().ajax.reload();
                $("#modalForm").modal("hide");
                $('#modalForm form')[0].reset();
            }
        });
        return false;
    })

</script>




