<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document" id="mainform">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100"><b id="ModalTitle"></b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3" id="mbody">
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-warning" id="editRecord" onclick="operation('Edit',$('#id').val())">Edit</button>
                <button type="submit" class="btn btn-success" id="saveRecord"></button>
                <a class="btn btn-primary" data-dismiss="modal">Cancel</a>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document" id="deleteform">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold" id="ModalTitle"><b>Delete Patient Record</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3" id="deletebody">
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-danger" onclick="confirmDelete($('#deleteid').val())">Confirm</button>
                <a class="btn btn-primary" data-dismiss="modal">Cancel</a>

            </div>
        </div>
    </div>
</div>
<div class="overflow:auto tbl">
    <button type="button" id="create" class="btn btn-success btn-rounded mb-4" onClick="operation('Add',0)">Add new patient</button>
</div>

<div class="overflow:auto tbl">
    <table id="PatientTable" class="display table-bordered">
        <thead class="hd">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Date</th>
                <th>In-Patient</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>

<script>

    $(document).ready(function () {

        $('#PatientTable').DataTable(

            {
                "ordering": false,
                "serverSide": true,
                "filter": true,
                "bInfo": false,

                columnDefs: [
                    {
                        "targets": [0],
                        "searchable": false
                    }
                ],
                "ajax": {

                    "url": "/Patient/PatientData",

                    "type": "POST",

                    "datatype": "json"

                },
                "columns": [
                    {
                        "data": "Id",
                        "render": function (id) {
                            return ('HM' + id + 'S');
                        }
                    },
                    {
                        "data": "Name",
                        "width": "20%"
                    },
                    {
                        "data": "Age",
                        "width": "5%"
                    },
                    {
                        "data": "Gender",
                        "width": "10%"
                    },
                    {
                        "data": "Date",
                        "type": "DateTime",
                        "width": "20%",
                        "render": function (value) {
                            if (value === null) return "";

                            var pattern = /Date\(([^)]+)\)/;
                            var results = pattern.exec(value);
                            var dt = new Date(parseFloat(results[1]));

                            return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
                        }
                    },
                    {
                        "data": "InPatient",
                        "width": "10%",
                        "type": "bool",
                        "render": function (value) {
                            if (value === true) return "Yes";
                            else return "No";
                        }
                    },

                    {
                        "data": "Id",
                        "width": "20%",
                        "render": function (id) {
                            return ('<div class="col-md-4"><a class="btn btn-primary btn-rounded mb-4" onclick="operation(`View`,' + id + ')">View</a> </div><div class="col-md-3"> <a class="btn btn-danger btn-rounded mb-4" onclick="deletePatient(' + id + ')">Delete </a></div> ');
                        }
                    },
                ]

            });
    });
    function operation(operation, id) {
        if (operation == "Add") {
            $("#ModalTitle").html("Add Patient Details");
            $("#saveRecord").html("Add");
            document.getElementById("saveRecord").disabled = false;
            document.getElementById("editRecord").disabled = true;
        }
        else if (operation == "Edit") {
            $("#ModalTitle").html("Edit Patient Details");
            $("#saveRecord").html("Save");
            document.getElementById("saveRecord").disabled = false;
            document.getElementById("editRecord").disabled = true;
        }
        else {
            $("#ModalTitle").html("View Patient Details");
            $("#saveRecord").html("Save");
            document.getElementById("saveRecord").disabled = true;
            document.getElementById("editRecord").disabled = false;
        }
        var url = "/Patient/Get?operation=" + operation + "&id=" + id;
        removeValidation();
        $("#modalForm").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                $('#mbody').html(data);
            }
        })
    }

    function deletePatient(id) {
        var url = "/Patient/Get?operation=Delete&id=" + id;
        $("#deleteConfirm").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                $('#deletebody').html(data);
            }
        })
    }
    function confirmDelete(id) {
        $.ajax({
            type: "POST",
            url: "/Patient/Delete/" + id,

            success: function () {
                $('#PatientTable').DataTable().ajax.reload();
                $("#deleteConfirm").modal("hide");
            }
        });
    }

    $("#saveRecord").click(function () {
        validation();
        var myFormData = $("#SubmitForm").serialize();
        $.ajax({
            type: "POST",
            url: "/Patient/Update",
            data: myFormData,
            success: function () {
                $('#PatientTable').DataTable().ajax.reload();
                $("#modalForm").modal("hide");
                $('#modalForm form')[0].reset();
            }
        });
        return false;
    })
    function validation() {
        var letters = /^[A-za-z]+$/;
        var dateFormat = /^(0?[1-9]|[1-2][0-9]|3[01])[\/-](0?[1-9]|1[0-2])[\/-]\d{4}$/;
        if (!$("#name").val().match(letters) || $("#name").val().length >= 31) {
            $("#namevalidation").html("Give proper name");
        }
        else {
            $("#namevalidation").html("");
        }
        if ($("#age").val() == 0 || $("#age").val() >= 121) {
            $("#agevalidation").html("Give proper age");
        }
        else {
            $("#agevalidation").html("");
        }
        if ($("#gender").val() == "Select") {
            $("#gendervalidation").html("Select gender");
        }
        else {
            $("#gendervalidation").html("");
        }
        if (!$("#date").val().match(dateFormat)) {
            $("#datevalidation").html("Enter proper date");
        }
        else {
            $("#datevalidation").html("");
        }
    }
    function removeValidation() {
        $("#namevalidation").html("");
        $("#agevalidation").html("");
        $("#gendervalidation").html("");
        $("#datevalidation").html("");
    }
</script>
