@using HospitalManagementLibrary.Constants
<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog" role="document" id="mainform">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100">
                    <b id="ModalTitle"></b>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
            </div>
            <div class="modal-body mx-3" id="mbody">
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-warning" id="editRecord" style="width:70px">Edit</button>
                <button type="submit" class="btn btn-success" id="saveRecord" style="width:70px">Add</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width:70px">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" id="deleteform">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold" id="ModalTitle">
                    <b>@Titles.DeleteTitle</b>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
            </div>
            <div class="modal-body mx-3" id="deletebody">
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-danger" onclick="confirmDelete($('#deleteid').val())" style="width:75px">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width:75px">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="overflow:auto tbl">
    <button type="button" id="create" class="btn btn-success btn-position btn-rounded mb-4" onClick="operation('Add',0)">Add Patient</button>

    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-excel-fill" viewBox="0 0 16 16" id="btnExcel" style="color:forestgreen">
        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM5.884 6.68 8 9.219l2.116-2.54a.5.5 0 1 1 .768.641L8.651 10l2.233 2.68a.5.5 0 0 1-.768.64L8 10.781l-2.116 2.54a.5.5 0 0 1-.768-.641L7.349 10 5.116 7.32a.5.5 0 1 1 .768-.64z" />
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16" id="btnPdf" style="color:red">
        <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16" id="btnPrint" style="color:black">
        <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
        <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z" />
    </svg>

    <table id="PatientTable" class="display table-bordered" style="width:100%">
        <thead class="hd">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Date (D/M/Y)</th>
                <th>In-Patient</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>
<script>
    $(document).on('click', '#btnPrint', function () {
        $(".buttons-print")[0].click();
    });
    $(document).on('click', '#btnExcel', function () {
        $(".buttons-excel")[0].click();
    });
    $(document).on('click', '#btnPdf', function () {
        $(".buttons-pdf")[0].click();
    });
    $(document).ready(function () {
        $('#PatientTable').DataTable(
            {
                "serverSide": true,
                "filter": true,
                "order": [[0, "desc"]],
                "dom": '<"top"f>rt<"bottom"ilp><"clear">',
                dom: 'Bfrtipl',
                buttons:
                    [
                        {
                            extend: 'excel',
                            exportOptions: {
                                columns: [0, 1, 2, 3, 4, 5]
                            }
                        },
                        {
                            extend: 'pdf',
                            exportOptions: {
                                columns: [0, 1, 2, 3, 4, 5]
                            }
                        },
                        {
                            extend: 'print',
                            exportOptions: {
                                
                                    columns: [0, 1, 2, 3, 4,5]
                                }
                            
                        }
                    ],

                "scrollY": "330px",
                "scrollCollapse": false,
                "initComplete": function (settings, json) {
                    $('body').find('.dataTables_scrollBody').addClass("scrollbar");
                },
                columnDefs: [
                    {
                        "targets": [0],
                        "searchable": false
                    },
                    {
                        "targets": [2, 3, 4, 5, 6],
                        className: 'dt-head-center dt-body-center'
                    }
                ],
                "ajax": {
                    "url": "/Patient/PatientData",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "Id",
                        "name": "Id",
                        "width": "5%",
                        "render": function (id) {
                            return ('HM' + id + 'S');
                        }
                    },
                    {
                        "data": { Name: "Name", LastName: "LastName" },
                        "name":"Name",
                        "render": function (data) {
                            return data.Name + " " + data.LastName;
                        },
                        "width": "20%"
                    },
                    {
                        "data": "Age",
                        "name": "Age",
                        "width": "5%"
                    },
                    {
                        "data": "Gender",
                        "name": "Gender",
                        "width": "10%"
                    },
                    {
                        "data": "Date",
                        "name": "Date",
                        "type": "DateTime",
                        "width": "14%",
                        "render": function (value) {
                            if (value === null) return "";
                            var pattern = /Date\(([^)]+)\)/;
                            var results = pattern.exec(value);
                            var dt = new Date(parseFloat(results[1]));
                            return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
                        }
                    },
                    {
                        "data": "InPatient",
                        "name": "InPatient",
                        "width": "8%",
                        "type": "bool",
                        "render": function (value) {
                            if (value === true) return "Yes";
                            else return "No";
                        }
                    },
                    {
                        "data": "Id",
                        "width": "9%",
                        "render": function (id) {
                            return ('<a class="view" title="View" onclick="operation(`View`,' + id + ')"><span class="glyphicon glyphicon-zoom-in"></span></a><a class="edit" title="Edit" onclick="operation(`Edit`,' + id + ')"><span class="glyphicon glyphicon-edit"></span></a><a class="delete" title="Delete" onclick="deleteData(' + id + ')"><span class="glyphicon glyphicon-trash"></span></a>');
                        }
                    }
                ]
            }
        );
    });
    function operation(op, id) {
        var url = "/Patient/Get?operation=" + op + "&id=" + id;
        $("#modalForm").modal('show');
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                $('#mbody').html(data);
            }
        })
    }
    function deleteData(id) {
        var url = "/Patient/Get?operation=Delete&id=" + id;
        $("#deleteConfirm").modal('show');
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                $('#deletebody').html(data);
            }
        })
    }
    function confirmDelete(id) {
        $.ajax({
            type: "POST",
            url: "/Patient/Delete/" + id,
            success: function () {
                $('#PatientTable').DataTable().ajax.reload(null,false);
                $("#deleteConfirm").modal("hide");
                toastr.options = {
                    "closeButton": false,
                    "newestOnTop": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "100",
                    "hideDuration": "500",
                    "timeOut": "1500",
                    "extendedTimeOut": "500",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr["success"]("Patient Deleted")
            },
            error: function (error) {
                nameValidation();
                lastnameValidation();
                ageValidation();
                genderValidation();
                dateValidation();
                toastr.options = {
                    "closeButton": false,
                    "newestOnTop": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "100",
                    "hideDuration": "500",
                    "timeOut": "1500",
                    "extendedTimeOut": "500",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr["error"]("Error")
            }
        });
    }
    $("#saveRecord").click(function () {
        var myFormData = $("#SubmitForm").serialize();
        $.ajax({
            type: "POST",
            url: "/Patient/Update",
            data: myFormData,
            success: function () {
                $('#PatientTable').DataTable().ajax.reload(null, false);
                $("#modalForm").modal("hide");
                toastr.options = {
                    "closeButton": false,
                    "newestOnTop": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "100",
                    "hideDuration": "500",
                    "timeOut": "1500",
                    "extendedTimeOut": "500",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr["success"](message)
            },
            error: function (error) {
                nameValidation();
                lastnameValidation();
                ageValidation();
                genderValidation();
                dateValidation();
                toastr.options = {
                    "closeButton": false,
                    "newestOnTop": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "100",
                    "hideDuration": "500",
                    "timeOut": "1500",
                    "extendedTimeOut": "500",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr["error"]("Error")
            }
        });
    })
    function nameValidation() {
        var letters = /^[A-za-z]+$/;
        if (!$("#name").val().match(letters) && $("#name").val() != "") {
            $("#namevalidation").html("Cannot contain spaces, numbers or special characters");
        }
        else if ($("#name").val().length >= 31) {
            $("#namevalidation").html("Cannot contain more than 30 characters");
        }
        else if ($("#name").val() == "") {
            $("#namevalidation").html("Please provide First Name");
        }
        else {
            $("#namevalidation").html("");
        }
    }
    function lastnameValidation() {
        var letters = /^[A-za-z]+$/;
        if (!$("#lastname").val().match(letters) && $("#lastname").val() != "") {
            $("#lastnamevalidation").html("Cannot contain spaces, numbers or special characters");
        }
        else if ($("#lastname").val().length >= 31) {
            $("#lastnamevalidation").html("Cannot contain more than 30 characters");
        }
        else if ($("#lastname").val() == "") {
            $("#lastnamevalidation").html("Please provide Last Name");
        }
        else {
            $("#lastnamevalidation").html("");
        }
    }
    function ageValidation() {
        if ($("#age").val() < 0 && $("#age").val() != "") {
            $("#agevalidation").html("Give proper age");
        }
        else if ($("#age").val() >= 121) {
            $("#agevalidation").html("Cannot exceed 120");
        }
        else if ($("#age").val() == "") {
            $("#agevalidation").html("Age cannot be empty");
        }
        else {
            $("#agevalidation").html("");
        }
    }
    function genderValidation() {
        if ($("#gender").val() == "Select") {
            $("#gendervalidation").html("Select gender");
        }
        else {
            $("#gendervalidation").html("");
        }
    }
    function dateValidation() {
        var dateFormat = /^(?<!\d)(\d{2}|\d{4})(?!\d)[\/-](0?[1-9]|1[0-2])[\/-](0?[1-9]|[1-2][0-9]|3[01])/;
        if (!$("#date").val().match(dateFormat)) {
            $("#datevalidation").html("Enter proper date");
        }
        else {
            $("#datevalidation").html("");
        }
    }
</script>
